body {
    font-family: "Space Mono", "Maven Pro", "Lato" "Audiowide";
    font-style: sans-serif;
    background-color: #434343;
}
html {
    font-size: 16px;
    scroll-behavior: smooth;
}
h1 {
    font-size: 4rem;
    color: #333333;
    font-family: Space Mono;
    font-weight: bold;
	line-height: 1.1;
	letter-spacing: 0.2rem;
	padding-top: 2rem;
	padding-bottom: 1rem;
	margin: 0;
}
h2 {
    font-size: 1.4rem;
    color: #333333;
    font-family: Maven Pro;
    font-weight: semibold;
    padding: 0;
    margin-bottom: 1rem;
}
h3 {
    color: rgba(244, 244, 244, 1);
	font-size: 2.3rem;
	font-family: Audiowide;
	font-weight: normal;
	line-height: 1.1;
	letter-spacing: 0.2rem;
	padding: 0;
	margin: 0;
}
h4 {
    color: #333333;
    font-size: 1.2rem;
	font-family: Maven Pro;
	font-weight: semibold;
	line-height: 1.2;
	letter-spacing: 0.1rem;
	padding: 0;
	margin-bottom: .5rem;
}
p {
    font-family: Maven Pro;
    font-size: 1rem;
    font-weight: regular;
    line-height: 148%;
    letter-spacing: 0.002em;
    padding: 0;
    margin: 0;
}
img {
    width: 100%;
}
.container {
    max-width: 80%;
    margin: auto;
}
.container-case-study {
    max-width: 100%;
    background-color: #fdfdfd;
    border-radius: .5rem;
    margin-top: 6rem;
}
.container-small {
	max-width: 15rem;
    text-align: left;
    margin: 0;
	padding-right: 1rem;
}
.container-small-contact {
	max-width: 30%;
	margin: left;
	padding-top: 2rem;
}
.container-medium {
	max-width: 24rem;
    text-align: left;
    margin: 0;
	padding-right: 1rem;
}
.container-large {
    max-width: 60%;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav {
    display: flex;
    flex-direction: column;
}
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    border-radius: .5rem
}
li.nav a {
    display: block;
    color: white;
    font-family: Lato;
    font-size: 1 rem;
    letter-spacing: 0.2rem;
    text-align: center;
    padding: 1rem 1.5rem;
    text-decoration: none;
}
li.nav a:hover {
    background-color: #141414;
}
ul.b {
    list-style-type: disc;
    font-family: Maven Pro;
    font-size: 1rem;
}
li b {
    font-family: Maven Pro;
    font-size: 1 rem;
    letter-spacing: 0.2rem;
    text-align: center;
    margin: 0;
    padding: 0;
}
.contact-links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
a.one:link {
	color: rgba(244, 244, 244, 1);
	font-family: Lato;
	font-size: 1 rem;
	letter-spacing: 0.2rem;
	text-decoration: none;
}
a.one:visited {color: rgba(244, 244, 244, 1)}
a.one:hover {color: rgba(166, 90, 78, 1);}

.container-case_study {
    max-width: 100%;
    background-color: #fdfdfd;
    border-radius: .5rem;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
}
.section-heading {
    display: block;
    margin-left: auto;
    padding-top: 4rem;
}
.hero {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.introduction {
    text-align: center;
    margin: auto;
}
.design_solutions {
    text-align: center;
    margin: auto;
}
.evaluation {
    text-align: center;
    margin: auto;
}
.final_design {
    text-align: center;
    margin: auto;
}
.in_conclusion {
    text-align: center;
    margin: auto;
}
.contact-section {
	text-align: left;
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.layout-double {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding-top: 3rem;
    margin: auto;
}
.layout-double_wrap {
    width: 90%;
    display: flex;
    gap: 3rem;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 3rem;
    margin: auto;
}
.layout-double_left {
    width: 90%;
    display: flex;
    gap: 1rem;
    justify-content: left;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding-top: 8rem;
    margin: auto;
}
.layout-double_right {
    width: 90%;
    display: flex;
    gap: 1rem;
    justify-content: right;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding-top: 2rem;
    margin: auto;
}
.layout-quad {
    width: 90%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: top;
    margin: auto;
    padding-top: 6rem;
}
.grey-box {
    background-color: #e6e6e6;
    padding: 1.5rem;
    max-width: 19rem;
    align-content: flex-start;
    margin-top: 3rem;
}
.thanks-box {
    text-align: center; 
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    padding:4rem; 
    margin-top: 6rem;
    background-color: #333333;
    color:#fdfdfd
}
.button {
    background-color: rgba(214, 122, 177, 1);
    border: none;
    color: white;
    border-radius: .25rem;
    padding: 1rem 2rem;
    margin-top: 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-family: Maven Pro;
    transition: all 0.4s;
    cursor: pointer;
}
.button1 {border-radius: 4px;}
.button1:hover {
     background-color: rgba(214, 122, 177, 0.7);
     color: white;
}
span {
    display: block;
}
.mySlides {display :none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
.w3-content {
    display: block;
    padding-left: 6rem;
    padding-bottom: 6rem;
    margin-top: 6rem;
    text-align: left;
}
.margin-left { margin-left: auto; }
.grow1 { flex-grow: 1; }

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.slideshow-container {
    max-width: 90%;
    position: relative;
    margin: auto;
    padding: 0;
  }
