body {
    font-family: "Space Mono", "Maven Pro", "Lato" "Audiowide";
    font-style: sans-serif;
    background-color: #434343;
}
html {
     font-size: 16px;
}
.container {
    max-width: 80%;
    margin: auto;
}
.container-small {
	max-width: 30%;
	margin: left;
	padding-top: 2rem;
}
.navigation {
    display: flex;
    flex-direction: column;
}
.container-case-study {
    max-width: 100%;
    background-color: #fdfdfd;
    border-radius: .5rem;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
}
.hero-section {
    text-align: center;
    margin: auto;
}
.container-heading-introduction {
    display: flex;
    flex-wrap: wrap;
	justify-content: right;
}
.container-small {
	max-width: 15rem;
    text-align: left;
    margin: 0;
	padding-right: 1rem;
}
.container-medium {
	max-width: 27rem;
    text-align: left;
    margin: 0;
	padding-right: 1rem;
}
img {
    width: 100%;
}
h1 {
    font-size: 4rem;
    color: #333333;
    font-family: Space Mono;
    font-weight: bold;
	line-height: 1.1;
	letter-spacing: 0.2rem;
	padding-top: 2rem;
	padding-bottom: 1rem;
	margin: 0;
}
h2 {
    font-size: 1.4rem;
    font-family: Maven Pro;
    font-weight: semibold;
    padding: 0;
    margin: 0;
}
h3 {
    color: rgba(244, 244, 244, 1);
	font-size: 2.3rem;
	font-family: Audiowide;
	font-weight: normal;
	line-height: 1.1;
	letter-spacing: 0.2rem;
	padding: 0;
	margin: 0;
}
p {
    font-family: Maven Pro;
    font-size: 1rem;
    font-weight: regular;
    line-height: 148%;
    letter-spacing: 0.002em;
    padding: 0;
    margin: 0;
}
.project-img {
    width: 100%;
}
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    border-radius: .5rem
}
li.nav a {
    display: block;
    color: white;
    font-family: Lato;
    font-size: 1 rem;
    letter-spacing: 0.2rem;
    text-align: center;
    padding: 1rem 1.5rem;
    text-decoration: none;
}
li.nav a:hover {
    background-color: #141414;
}
ul.b {
    list-style-type: disc;
    font-family: Maven Pro;
    font-size: 1rem;
}
li b {
    font-family: Maven Pro;
    font-size: 1 rem;
    letter-spacing: 0.2rem;
    text-align: center;
    margin: 0;
    padding: 0;
}
.layout {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding-top: 3rem;
}
.contact-links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
a.one:link {
	color: rgba(244, 244, 244, 1);
	font-family: Lato;
	font-size: 1 rem;
	letter-spacing: 0.2rem;
	text-decoration: none;
}
a.one:visited {color: rgba(244, 244, 244, 1)}
a.one:hover {color: rgba(166, 90, 78, 1);}
html {
    scroll-behavior: smooth;
}
.flexbox {
    display: flex;
    flex-direction: column;
}
.container-xsmall {
    max-width: 19rem;
    text-align: left;
    margin: 0;
}
.grey-box {
    background-color: #e6e6e6;
    padding: 1.5rem;
    max-width: 19rem;
    align-content: flex-start;
    margin-top: 6rem;
}
.table {
    padding: 1.5rem 3.5rem;
}
th.a {
    text-align: left;
    max-width: 8rem;
}
th.b {
    text-align: left;
    max-width: 6rem;
}
